<div class="header">
    <ul>
        <li>
            <a routerLink="login">Login</a>
        </li>

        <li>
            <a routerLink="registration">Signup</a>
        </li>

        <li>
            <a routerLink="users">Users List</a>
        </li>

        <li>
            <a routerLink="users/add">Add User</a>
        </li>
    </ul>
</div>

<div class="main-content">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <p>I am footer</p>
    <p>I am footer</p>
    <p>I am footer</p>
</div>
